* {
    box-sizing: border-box;
}

.mainContent{
	display: grid;
	grid-template-columns: repeat(1,auto);
	grid-template-rows: repeat(2,auto);
}

.app-topbar{
	background-color: #333;
	display: grid;
	grid-template-columns: repeat(3,auto);
}

.barItem{
	border: 1px solid blue;
	text-align: center;
	color: white;
}

.barItem:hover{
	background-color: #111;
	cursor: pointer;
}

.timetable{
	border: 1px solid red;
	display: grid;
	grid-template-columns: repeat(1, auto);
	grid-template-rows: repeat(2, auto);
}

.tableContent{
	border: 1px solid green;
	display: grid;
	grid-row: 2 / 3;
	grid-column: 1 / 2;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
}

.resourceName{
	height: auto;
	border: 1px solid black;
	text-align: center;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.placeholder{
	width: auto;
	height: auto;
	border: 1px solid black;
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.dayList{
	border: 1px solid black;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-row: 1 / 2;
	grid-column: 2 / 9;
}

.day{
	width: auto;
	height: auto;
	border: 1px solid black;
	text-align: center;
}

.periodList{
	border: 1px solid black;
	display: grid;
	grid-template-rows: repeat(13, auto);
	grid-row: 2 / 3;
	grid-column: 1 / 2;
}

.period{
	width: auto;
	height: auto;
	border: 1px solid black;
}

.timeslots{
	border: 1px solid blue; 
	display: grid;
	grid-template-rows: repeat(13, auto);
	grid-template-columns: repeat(7, auto);
	grid-row: 2 / 3;
	grid-column: 2 / 9;
}

.timeslot{
	border: 1px solid black;
	height: auto;
	width: auto;
}

.possibleTeachersList{
	border: 1px solid pink;
	display: grid;
	grid-template-columns: repeat(10, auto);
	grid-column: 1 / 9;
}

.possibleTeacher{
	border: 1px solid blue;
}

.possibleRoomsList{
	border: 1px solid pink;
	display: grid;
	grid-template-columns: repeat(10, auto);
	grid-column: 1 / 9;
}

.possibleRoom{
	border: 1px solid blue;
}

.available{
	background-color: green;
}

.unavailable{
	background-color: red;
}

.selected{
	background-color: green;
}

.unselected{
	background-color: red;
}

#algorithmWrapper{
	border: 1px solid purple;
}

.unassignedList{
	white-space: nowrap;
	overflow-x: auto;
}

.unassignedClass{
	display: inline-block;
	border: 1px solid blue;
	height: 100px;
	width: 25%;
}

.tupleList{
	white-space: nowrap;
	overflow-x: auto;
}

.tuple{
	display: inline-block;
	border: 1px solid green;
	height: 100px;
	width: 25%;
}